
@import url(https://cloud.typography.com/7463094/7169552/css/fonts.css);
*{

box-sizing: border-box;
padding: 0;
margin: 0;
font-family: Gotham SSm A,Gotham SSm B,Helvetica,Arial,sans-serif;

}
html{
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust:100%
}

body{
    margin: 0;
    
    

}
.navBar{
    background-color:rgb(61, 61, 61);
    height: 12%;
    display: flex;
    justify-content: flex-end;
    align-items:center;
    justify-content: space-around;
    letter-spacing: 1px;

    
    
}
.navList{
    
    list-style: none;
    display: flex;

}  
.loop{
    width: 42px;
    height: 40px;
    cursor: pointer;
}



#img{
    width: 5%;
    height: 20%;
    margin-left: -3%;
    cursor: pointer;
    position: relative;
    animation-name: example;
    animation-duration: 4s;}
@keyframes example {
        10%  {left:87%; top:0px; }
        60% { left:0%; top:0px;}
}

    

.title{
    color: white;
    font-size: 25px;
    margin-left: -10%;
    
    
    
}
.block{
    padding-left:  60px;;

    

}
.blue{
    background-color: rgb(58, 166, 255);
    padding:10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bolder;
    letter-spacing: 1px;
    

}
.blue:hover{
    background-color: white;
    border-radius: 20px;
    color: gray;

}
.link{
    padding: 10px;
    color: white;
    font-size: 12px;
    font-weight: bolder;
    
    
    
}
li:hoover{
    background-color:white;
    color: gray;


}
a:link {
    color: rgb(255, 251, 251);
    text-decoration: none;
}

  /* visited link */ 
a:visited {
    color: white;
}

  /* mouse over link */
a:hover {
    background-color: white;
    padding: 10px;
    color: rgb(61, 60, 60);
    outline:0;
}

.help{

    font-weight: bolder;
    margin: auto;
    width: 22%; 
    margin-top: 50px;
    margin-bottom: 30px;
    letter-spacing: -.5px;
    color: #161616;
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    
}
.search{
margin-left: 25%;
width: 50%;
border: 3px solid #73AD21;
padding: 20px 70px 12px;
border: 1px solid #cccbcb;
outline: none;
color: #161616;
background-color:white;
line-height: 25px;
font-size: 14px;
padding-left: 25px;
border-color: #636465;
line-height: 35px;
font-size: 20px;
margin-bottom: 30px;
}


.container{
    margin-top: 5%;
    margin-left: 12%;

}

.container:after {
    content: "";
    clear: both;
    display: table;
    
    

}
.aa {
    background: url(images/icon/intellijgrey.png);
    background-repeat: no-repeat; 
    background-size: 350px;
    width: 33%;
    float: left;
    background-size: 350px;
    width: 400px;
    height: 300px;
    transition:  0.2s;
    

}
.aa:hover{
    background: url(images/icon/intellij.png);
    background-repeat: no-repeat; 
    background-size: 350px;
    width: 33%;
    float: left;
    background-size: 350px;
    width: 400px;
    height: 300px;
    /* transition:  0.3s; */
    
    

}
.bb{
    background: url(images/icon/ruby.png);
    background-repeat: no-repeat; 
    width: 33%; 
    float: left; 
    background-size: 350px;
    width: 400px;
    height: 300px;
    transition:  0.2s;
    

}
.bb:hover{
    background: url(images/icon/colour/ruby.png);
    background-repeat: no-repeat; 
    background-size: 350px;
    width: 33%;
    float: left;
    background-size: 350px;
    width: 400px;
    height: 300px;
    /* transition:  0.3s; */
    
    

}
.cc {
    background: url(images/icon/PyCharm.png);
    background-repeat: no-repeat; 
    width: 33%;
    float: left;
    background-size: 350px;
    width: 400px;
    height: 300px;
    transition:  0.2s;
    

}
.cc:hover{
    background: url(images/icon/colour/py.png);
    background-repeat: no-repeat; 
    background-size: 350px;
    width: 33%;
    float: left;
    background-size: 350px;
    width: 400px;
    height: 300px;
    /* transition:  0.3s; */
}
.dd {
    background: url(images/icon/webstorm.png);
    background-repeat: no-repeat; 
    width: 33%;
    float: left;
    background-size: 350px;
    width: 400px;
    height: 300px;
    transition:  0.2s;

}
.dd:hover{
    background: url(images/icon/colour/webstorm.png);
    background-repeat: no-repeat; 
    background-size: 350px;
    width: 33%;
    float: left;
    background-size: 350px;
    width: 400px;
    height: 300px;
  
}
.ee {
    background: url(images/icon/phpstorm.png);
    background-repeat: no-repeat; 
    width: 33%;
    float: left;
    background-size: 350px;
    width: 400px;
    height: 300px;
    transition:  0.2s;

}
.ee:hover{
    background: url(images/icon/colour/ph.png);
    background-repeat: no-repeat; 
    background-size: 350px;
    width: 33%;
    float: left;
    background-size: 350px;
    width: 400px;
    height: 300px;
  
}
.ff {
    background: url(images/icon/appstorm.png);
    background-repeat: no-repeat; 
    width: 33%;
    float: left;
    background-size: 350px;
    width: 400px;
    height: 300px;
    transition:  0.2s;

}
.ff:hover{
    background: url(images/icon/colour/app.png);
    background-repeat: no-repeat; 
    background-size: 350px;
    width: 33%;
    float: left;
    background-size: 350px;
    width: 400px;
    height: 300px;
    
}
.gg {
    background: url(images/icon/clion.png);
    background-repeat: no-repeat; 
    width: 33%;
    float: left;
    background-size: 350px;
    width: 400px;
    height: 300px;
    transition:  0.2s;

}
.gg:hover{
    background: url(images/icon/colour/c.png);
    background-repeat: no-repeat; 
    background-size: 350px;
    width: 33%;
    float: left;
    background-size: 350px;
    width: 400px;
    height: 300px;
    
}
.hh {
    background: url(images/icon/datagrip.png);
    background-repeat: no-repeat; 
    width: 33%;
    float: left;
    background-size: 350px;
    width: 400px;
    height: 300px;
    transition:  0.2s;

}
.hh:hover{
    background: url(images/icon/colour/Screenshot\ 2021-10-01\ at\ 12.10.53.png);
    background-repeat: no-repeat; 
    background-size: 350px;
    width: 33%;
    float: left;
    background-size: 350px;
    width: 400px;
    height: 300px;
   
}
.ii {
    background: url(images/icon/goland.png);
    background-repeat: no-repeat; 
    width: 33%;
    float: left;
    background-size: 350px;
    width: 400px;
    height: 300px;
    transition:  0.2s;

}

.ii:hover{
    background: url(images/icon/colour/ph.png);
    background-repeat: no-repeat; 
    background-size: 350px;
    width: 33%;
    float: left;
    background-size: 350px;
    width: 400px;
    height: 300px;
   
}





/* @media screen and (max-width: 960px)
.block{
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
    } */
.know{
    
    margin-top: 40px;
    margin-bottom: 40;
    margin-left: 3%;
    font-size: 30px;
    font-weight: bold;
}

.gen{
    display: flex;
    font-size:25px;
    font-weight: 900;
    padding-top: 30px;
    margin-left: 3%;
    padding-right: 3%;
}
.gen2{
    margin-left: 25%;   
    
}
.line{
    width: 28%;
    margin-left: 1%;
    
    
}
.last{

    content: "";
    clear: both;
    display: table;
    margin-left:2%;}



.img{ 
    
    display: flex;
    width: 13px;
    height: 20px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='10.1px' height='17.4px' viewBox='-300.7 388.6 10.1 17.4'%3E %3Cpath d='M-290.6,404.6l-1.4,1.4l-8-8l-0.7-0.7l0.7-0.7l8-8l1.4,1.4l-7.3,7.3L-290.6,404.6z' fill='%23636465' /%3E %3C/svg%3E") no-repeat 50% 50%;
    background-size: 100% auto;
    content: "";
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin-right: 5%;

}
.general{

    list-style: none;
    color: rgb(78, 78, 78);
    cursor: pointer;
    width: 34%;
    float: left;
    display: flex;
    align-items: center;
    padding: 5px;
    margin-left: 2%;
    letter-spacing: 0.5px;
    
    
    


}
.general:hover{
    background-color: rgba(238, 238, 238, 0.952);
    color: rgb(68, 68, 68);
    
    
}
.navEnd{
    
    background-color:rgb(61, 61, 61);
    float: right;
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: flex-start;
    
    align-items: center;
    /* justify-content: space-around; */
    color: rgb(187, 187, 187);
}
.jet{
    height: 100%;
    margin-left: 30px;
    margin-right: 20px;
    cursor: pointer;
    

}
.see{
    
    cursor: pointer;
    width: 13%;
    margin-left: 42%;
    margin-top: 30px;
    
}
.message{
    margin-left: 30px;
    padding-bottom: 10px;
    width: 20%;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
}
